body {
    padding-bottom: 3rem;
    background-color: #5cdb95;
    color: #fff;
}

.navbar, .card {
    background-color: #053686;
    color: #fff;
}

.btn-color {
    background-color: #379683;
    border-color: #379683;
    color: #fff;
}

.btn-color:hover {
    background-color: #8ee4af; 
    border-color: #fff;
    color: #fff;
}

.btn-back {
    border-color: #fff!important;
}

.list-group-item {
    background-color: #379683;
}